In [1]:


import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
import sqlite3 as sql #for running sql queries
import pandas as pd # for reading them

In [5]:
Database = '/content/movies.sqlite' #defining a variable
db = sql.connect(Database)
print('Database is connected now! you can start working')

Database is connected now! you can start working

In [6]:
#Query1 : GET ALL THE DATA FROM MOVIES
Q1 = "SELECT * FROM MOVIES"
r1 = pd.read_sql(Q1,db)
print(r1)

         id                            original_title     budget  popularity  \
0     43597                                    Avatar  237000000         150
1     43598  Pirates of the Caribbean: At World's End  300000000         139
2     43599                                   Spectre  245000000         107
3     43600                     The Dark Knight Rises  250000000         112
4     43601                               John Carter  260000000          43
...     ...                                       ...        ...         ...
4768  48395                               El Mariachi     220000          14
4769  48396                                 Newlyweds       9000           0
4770  48397                 Signed, Sealed, Delivered          0           1
4771  48398                          Shanghai Calling          0           0
4772  48399                         My Date with Drew          0           1

     release_date     revenue                                     title  \
0      2009-12-10  2787965087                                    Avatar
1      2007-05-19   961000000  Pirates of the Caribbean: At World's End
2      2015-10-26   880674609                                   Spectre
3      2012-07-16  1084939099                     The Dark Knight Rises
4      2012-03-07   284139100                               John Carter
...           ...         ...                                       ...
4768   1992-09-04     2040920                               El Mariachi
4769   2011-12-26           0                                 Newlyweds
4770   2013-10-13           0                 Signed, Sealed, Delivered
4771   2012-05-03           0                          Shanghai Calling
4772   2005-08-05           0                         My Date with Drew

      vote_average  vote_count  \
0              7.2       11800
1              6.9        4500
2              6.3        4466
3              7.6        9106
4              6.1        2124
...            ...         ...
4768           6.6         238
4769           5.9           5
4770           7.0           6
4771           5.7           7
4772           6.3          16

                                               overview  \
0     In the 22nd century, a paraplegic Marine is di...
1     Captain Barbossa, long believed to be dead, ha...
2     A cryptic message from Bondâ€™s past sends him o...
3     Following the death of District Attorney Harve...
4     John Carter is a war-weary, former military ca...
...                                                 ...
4768  El Mariachi just wants to play his guitar and ...
4769  A newlywed couple's honeymoon is upended by th...
4770  "Signed, Sealed, Delivered" introduces a dedic...
4771  When ambitious New York attorney Sam is sent t...
4772  Ever since the second grade when he first saw ...

                                                tagline     uid  director_id
0                           Enter the World of Pandora.   19995         4762
1        At the end of the world, the adventure begins.     285         4763
2                                 A Plan No One Escapes  206647         4764
3                                       The Legend Ends   49026         4765
4                  Lost in our world, found in another.   49529         4766
...                                                 ...     ...          ...
4768  He didn't come looking for trouble, but troubl...    9367         5097
4769  A newlywed couple's honeymoon is upended by th...   72766         6485
4770                                               None  231617         7108
4771                           A New Yorker in Shanghai  126186         7109
4772                                               None   25975         7110

[4773 rows x 13 columns]

In [ ]:
#Query2: Get All the data from directors
Q2 = "Select * from directors"
r2 = pd.read_sql(Q2,db)
print(r2)

                   name    id  gender      uid department
0         James Cameron  4762       2     2710  Directing
1        Gore Verbinski  4763       2     1704  Directing
2            Sam Mendes  4764       2       39  Directing
3     Christopher Nolan  4765       2      525  Directing
4        Andrew Stanton  4766       2        7  Directing
...                 ...   ...     ...      ...        ...
2344      Shane Carruth  7106       2    76624  Directing
2345   Neill Dela Llana  7107       0  1174437  Directing
2346        Scott Smith  7108       0  1219158  Directing
2347        Daniel Hsia  7109       2   208138  Directing
2348   Brian Herzlinger  7110       2    85563  Directing

[2349 rows x 5 columns]

In [ ]:
#Query3: CHECK HOW MANY MOVIES ARE PRESENT IN IMDB
Q3 ="SELECT COUNT(*) as no_of_movies FROM movies"
r3 = pd.read_sql(Q3,db)
print(r3)

   no_of_movies
0          4773

In [ ]:
#Query4: FIND THESE 3 DIRECTORS: JAMES CAMERON ; LUC BESSON ; JOHN WOO
Q4 = "SELECT * FROM directors WHERE name in( 'James Cameron' , 'Luc Besson' ,'John Woo')"
r4 = pd.read_sql(Q4,db)
print(r4)

            name    id  gender    uid department
0  James Cameron  4762       2   2710  Directing
1       John Woo  4893       2  11401  Directing
2     Luc Besson  4949       2     59  Directing

In [ ]:
#Query5: FIND ALL DIRECTORS WITH NAME STARTING WITH STEVEN.
Q5 =" SELECT name FROM directors WHERE name LIKE 'Steven%'"
r5 = pd.read_sql(Q5, db)
print(r5)

                 name
0    Steven Spielberg
1   Steven Soderbergh
2        Steven Brill
3     Steven Zaillian
4        Steven Quale
5       Steven Seagal
6  Steven E. de Souza
7    Steven Shainberg
8    Steven R. Monroe

In [ ]:
#Query6 : COUNT ALL THE FEMALE DIRECTORS
Q6 = """SELECT COUNT(gender) as No_of_Female FROM directors
        WHERE gender == 1"""
r6 = pd.read_sql(Q6,db)
print(r6)

   No_of_Female
0           150

In [ ]:
#Query7 : FIND THE NAME OF THE 10TH FIRST WOMEN DIRECTOR
Q7 = """SELECT id, name FROM directors WHERE gender == 1
        ORDER BY id
        LIMIT 1
        OFFSET 10"""
r7 = pd.read_sql(Q7,db)
print(r7)

     id          name
0  5174  Karyn Kusama

In [ ]:
#Query8 : WHAT ARE THE 3 MOST POPULAR MOVIES?
Q8 = """SELECT original_title FROM movies
        ORDER BY popularity desc
        LIMIT 3"""
r8 = pd.read_sql(Q8, db)
print(r8)

  original_title
0        Minions
1   Interstellar
2       Deadpool

In [ ]:
#Query9 : WHAT ARE THE 3 MOST BANKABLE MOVIES?
Q9 = """SELECT original_title FROM movies
        ORDER BY budget DESC
        LIMIT 3"""
r9 = pd.read_sql(Q9, db)
print(r9)

                                original_title
0  Pirates of the Caribbean: On Stranger Tides
1     Pirates of the Caribbean: At World's End
2                      Avengers: Age of Ultron

In [ ]:
#Query10 : WHAT IS THE MOST AWARDED AVERAGE VOTE SINCE JAN-1-2000?
Q10 = """SELECT original_title, vote_average FROM movies
         WHERE release_date > '2000-01-01'
         ORDER BY vote_average DESC
         LIMIT 1 """
r10 = pd.read_sql(Q10, db)
print(r10)

  original_title  vote_average
0      Sardaarji           9.5

In [ ]:
#Query11: WHICH MOVIES WERE DIRECTED BY BRENDA CHAPMAN?
Q11 = """SELECT m.original_title FROM movies as m
         JOIN directors as d
         ON m.director_id = d.id
         WHERE name == 'Brenda Chapman'"""
r11 = pd.read_sql(Q11, db)
print(r11)

  original_title
0          Brave

In [ ]:
#Query12 : NAME ALL THE MOVIES WITH POPULARITY > 99
Q12 = """SELECT original_title, popularity FROM movies
         WHERE popularity > 99"""
r12 = pd.read_sql(Q12, db)
print(r12)

                              original_title  popularity
0                                     Avatar         150
1   Pirates of the Caribbean: At World's End         139
2                                    Spectre         107
3                      The Dark Knight Rises         112
4                               Spider-Man 3         115
..                                       ...         ...
86                              Pulp Fiction         121
87                             The Godfather         143
88           One Flew Over the Cuckoo's Nest         127
89                                  Whiplash         192
90                                It Follows         100

[91 rows x 2 columns]

In [ ]:
#Query13 : FIND OUT ALL THE MOVIES THAT WERE RELEASED AFTER 2011-01-01
Q13 = """SELECT release_date,original_title FROM movies
         WHERE release_date > 2011-01-01"""
r13 = pd.read_sql(Q13, db)
print(r13)

     release_date                original_title
0      2009-12-10                        Avatar
1      2015-10-26                       Spectre
2      2012-07-16         The Dark Knight Rises
3      2012-03-07                   John Carter
4      2010-11-24                       Tangled
...           ...                           ...
1672   2011-10-26      All Superheroes Must Die
1673   2012-01-20  Sanctuary: Quite a Conundrum
1674   2011-12-26                     Newlyweds
1675   2013-10-13     Signed, Sealed, Delivered
1676   2012-05-03              Shanghai Calling

[1677 rows x 2 columns]